<template>
        <div class="col m12">
                <!-- start header nav-->
                <div class="navbar-fixed">
                    <nav class="navbar-color" style="background-color: #00293d; border-bottom: 8px solid #f9b814;">
                        <div class="nav-wrapper">
                            <ul class="left">
                                <li>
                                    <router-link to="/dashboard"><img src="imgs/elejase1-300x145.jpg" width="110px"></router-link>
                                </li>
                            </ul>
                            <ul class="right hide-on-med-and-down">
                                <li>
                                    <router-link to="/search" class="waves-effect waves-block waves-light search"><i class="fa fa-search"></i></router-link>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                                        <i class="fa fa-envelope"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button dropdown-button" data-activates="notifications-dropdown">
                                        <i class="fa fa-bell"></i>
                                    </a>
                                    <!--<ul id="notifications-dropdown" class="dropdown-content">
                                        <li>
                                            <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                                            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                                            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                                            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                                            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                                            <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                                        </li>
                                    </ul>-->
                                </li>
                                <li>
                                    <a href="#" data-activates="dropdown1" class="dropdown-button waves-effect waves-block waves-light">
                                        <i class="fa fa-user" style="margin-right: 10px;"></i> {{user.name}}
                                    </a>
                                    <ul id='dropdown1' class='dropdown-content'>
                                        <li><a href="#!"><i class="fa fa-pencil"></i> Editar Informações</a></li>
                                        <li><a href="#!"><i class="fa fa-money"></i> Planos e Pacotes</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!"><i class="fa fa-sign-out"></i> Sair</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- translation-button -->

                            <!-- notifications-dropdown -->

                        </div>
                    </nav>
                </div>
                <!-- end header nav-->
            <div id="main" style="padding-left: 240px; background: #fff; min-height: 300px;">
                <ul style="margin-top: 65px; width: 240px; background-color: #0e3143;" class="side-nav fixed">
                    <li v-for="o in links">
                        <router-link :to="o.path">{{o.label}}</router-link>
                    </li>
                    <!--<li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li>
                                <a class="collapsible-header">Dropdown<i class="material-icons">arrow_drop_down</i></a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="#!">First</a></li>
                                        <li><a href="#!">Second</a></li>
                                        <li><a href="#!">Third</a></li>
                                        <li><a href="#!">Fourth</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>-->
                </ul>
                <div class="content">
                    <div class="row">
                        <div class="col m12">
                            <router-view></router-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</template>
<style>

    ul.side-nav > li > a
    {
        color: #fff !important;
    }
    .dropdown-content
    {
        color: #fff;
        background-color: #00293d;
    }
    .dropdown-content li:hover
    {
        color: #00293d;
        background-color: #f9b814;
    }
</style>
<script>
    $(document).ready(function() {
        $('.dropdown-button').dropdown({
            belowOrigin: true
        });
    });

    export default{
        data(){
            return{
                user: JSON.parse(window.localStorage.getItem('user')),
                links: [
                    {label: 'Dashboard', path: '/dashboard'},
                    {label: 'Colaboradores', path: '/contributors/list'},
                ]
            }
        },
        mounted(){
            this.$nextTick(function () {
                $(".button-collapse").sideNav();
                //this.$router.push({path: 'login'});
            });
          }
    }

</script>
