<template>
    <div class="row" style="width: 60%; margin-top: 50px;">
        <div class="col m4 offset-m4" id="form-login">
            <h5 class="center-align">Entrar no Eleja-se</h5>
            <div class="row" style="">
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" v-model="user.email" />
                            <label for="email">E-mail</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="password" v-model="user.password" />
                            <label for="email">Senha</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12">
                            <p class="center-align">
                                <button class="btn btn-default" type="button" @click="login()">Entrar</button>
                            </p>
                            <br>
                            <p>
                                Não possui conta? <router-link to="sign_up">Clique aqui para se cadastrar</router-link>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<style>
    #form-login
    {
        background: whitesmoke;
        color: #005f72;
        border: 1px solid #dddddd;
        border-radius: 5px;
    }
</style>
<script>

    export default {
        data(){
            return {
                user: {
                    email: '',
                    password: ''
                }
            }
        },
        ready(){
            console.log('Component ready.')
        },
        methods: {
            login(){
                this.$http.post('http://localhost:8000/api/auth', this.user)
                .then((response) => {
                    window.localStorage.setItem('token', response.data.token);

                    this.$http.get('http://localhost:8000/api/auth/me')
                    .then((response) => {
                        window.localStorage.setItem('user', JSON.stringify(response.data.user));
                    });

                    this.$router.push({path: '/dashboard'});
                });
            }
        }
    }
</script>