<template>
    <div class="row" id="search">
        <form class="form-search col s12" action="/search">
            <div class="row">
                <div class="input-field suffix col s12">
                    <input type="text" id="search-term" v-model="search" placeholder="Faça uma busca" class="autocomplete">
                    <i class="material-icons">search</i>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    <select>
                        <option value="" disabled selected>Selecione um genêro</option>
                        <option value="masc">Masculino</option>
                        <option value="fem">Feminino</option>
                    </select>
                    <label>Genêro</label>
                </div>
            </div>
        </form>
        <div class="col s12">
            <ul class="collection" v-bind:class="{ 'with-header': this.search }">

                <li v-if='this.search' class="collection-header">
                    <h6>{{ this.nResults }} Resultados para "<strong>{{ this.search }}</strong>"</h6>
                </li>

                <li v-for="item in listItems" class="collection-item " v-bind:class="{ avatar: item.image, 'no-avatar': !item.image }">
                    <div v-if="item.image">
                        <img :src="item.image" alt="" class="circle">
                    </div>
                    <span class="title">{{ item.nickname }}</span>
                    <a :href="'#/voters/' + item.id" class="secondary-content">
                        <i class="material-icons">keyboard_arrow_right</i>
                    </a>
                    <p>
                        {{ item.scholarity }} <br>
                        <small>{{ item.age }} anos | {{ item.birth }}</small>
                    </p>
                </li>

            </ul>
        </div>
    </div>
</template>
<style>
    .no-avatar p {
        margin: 0;
    }
    ul.collection li .secondary-content {
        color: rgb(14, 49, 67) !important;
    }
</style>
<script>
    $(document).ready(function() {
        $('.dropdown-button').dropdown({
            belowOrigin: true
        });
    });

    var apiURL = 'http://localhost:8000/api/';
    export default {
        data() {
            return {
                items: [],
                search: '',
                nResults: '',
                sortkey: 'nickname',
                sortorders: {
                    nickname: 1,
                    birth: 1,
                    age: 1
                }
            }
        },
        created() {
            this.fetchListItems()
        },
        computed: {
            listItems: function () {
                var list = this.orderBy(this.findBy(this.items, this.search, 'nickname'), this.sortorders[this.sortkey], this.sortkey);
                this.nResults = list.length
                return list;
            }
        },
        methods: {
            fetchListItems: function () {
                var xhr = new XMLHttpRequest()
                var self = this
                xhr.open('GET', apiURL + 'voters')
                xhr.onload = function ( response ) {
                    self.items = JSON.parse(xhr.responseText)
                    console.log(self.items)
                }
                xhr.send()
            },
            findBy: function (items, value, column) {
                return items.filter(function (item) {
                    return item[column].includes(value)
                })
            },
            orderBy: function (items, order, column) {
                return items.sort(function (a, b) {
                    return order * (a[column] - b[column])
                })
            },
            sort: function (colKey) {
                this.sortkey = colKey
                this.sortOrders[colKey] = this.sortOrders[colKey] * -1
            }
        }
    }

</script>
