<template>
    <div class="row" style="margin-top: 50px;">
        <div class="col m6 offset-m3" id="form-login">
            <h5 class="center-align">Registre-se no Eleja-se</h5>
            <div class="row" style="">
                <form>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="name" type="text" class="validate" v-model="candidate.name">
                            <label for="name">Nome</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="name_political" type="text" class="validate">
                            <label for="name_political">Nome político</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="email" type="email" v-model="candidate.email" />
                            <label for="email">E-mail</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="password" v-model="candidate.password" />
                            <label for="email">Senha</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <select class="browser-default" @change="getCities()" :v-model="candidate.state">
                                <option value="0" disabled selected>Estado</option>
                                <option v-for="state in states" :value="state.id">
                                    {{ state.name }}
                                </option>
                            </select>
                        </div>
                        <div class="input-field col s6">
                            <select class="browser-default">
                                <option value="" disabled selected>Cidade</option>
                                <option v-for="city in cities" :value="city.id">
                                    {{ city.name }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12">
                            <p class="center-align">
                                <button class="btn btn-default" type="button" @click="login()">Crie sua conta</button>
                            </p>
                            <br>
                            <p>
                                Já possui conta? <router-link to="login">Clique aqui para realizar seu login</router-link>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<style>
    #form-login
    {
        background: whitesmoke;
        color: #005f72;
        border: 1px solid #dddddd;
        border-radius: 5px;
    }
</style>
<script>
$(document).ready(function() {
    $('select').material_select();
  });
    export default {
        data(){
            return {
                candidate: {
                    name: '',
                    email: '',
                    password: '',
                    state: '',
                },
                states : {},
                cities : {},
            }
        },
        beforeCreate(){
            this.$http.get('http://localhost:8000/api/states')
                    .then((response) => {
                        this.states = response.data;
                    });
        },
        methods: {
            getCities(){
                this.$http.get(`http://localhost:8000/api/cities?state=${this.candidate.state}`)
                    .then((response) => {
                        this.cities = response.data;
                    });
            },
        }
    }
</script>