
// Material Icons
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Variables
@import "variables";

// Materialize
@import "node_modules/materialize-css/sass/materialize";

//font-awesome
@import "node_modules/font-awesome/scss/font-awesome";


.input-field.suffix i {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
    top: 0px;
    right: 0px;
}

.input-field.suffix i.active {
    color: #26a69a;
}

.input-field.suffix input,
.input-field.suffix textarea {
    margin-right: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

.input-field.suffix textarea {
    padding-top: .8rem;
}

.input-field.suffix label {
    margin-right: 3rem;
}

@media only screen and (max-width: 992px) {
    .input-field.suffix input {
        width: 86%;
        width: calc(100% - 3rem);
    }
}

@media only screen and (max-width: 600px) {
    .input-field.suffix input {
        width: 80%;
        width: calc(100% - 3rem);
    }
}